
<%- include('./../layouts/_head') %>
<body>
  <%- include('./../layouts/_navbar') %>
  <%- include('./../layouts/_page-header') %>
  <h4 class="text-center my-5">Page not found! Please <a href="/">Click</a> to turn Home page!</h4>
  <%- include('./../layouts/_footer') %>
  <%- include('./../layouts/_scripts') %>
</body>
</html>
