
<%- include('./../layouts/_head') %>
<body>
  <%- include('./../layouts/_navbar') %>
  <%- include('./../layouts/_page-header') %>
  <%- include('./../layouts/_blog-long') %>
  <%- include('./../layouts/_footer') %>
  <%- include('./../layouts/_scripts') %>
</body>
</html>
